.env
.python-version
mesh-mind.log
.get_prod_db_user

# Python
venv
.venv
__pycache__
*.pyc
.pytest_cache/

# DB
data/*
!data/.gitkeep
# wherever they are stored
*.db
*.sqlite
*.sqlite3

# MacOS files
.DS_Store

# Obsidian
.obsidian

# temporary files
tmp/
temp_voice
.adk
