.env
.python-version
mesh-mind.log

# Python
venv
.venv
__pycache__
*.pyc
.pytest_cache/

# Данные
data/*
!data/.gitkeep

# MacOS files
.DS_Store

# Obsidian
.obsidian

# временные файлы
tmp/
temp_voice
.adk
